/**
 * BPV destination details
 */

.activity{ width:100%; background-color: #f4f4f4; postion:relative; padding-left:10px; float:left;}
.act{float:left; clear:both;}
.activity img{float:left; margin-right:10px}
.destination{width:100%; float:left; clear:both;}
.title_suggestions{font-size:16px;font-weight:bold;padding:10px 0}
.destination h3{background-color: #40b6d0;  color: #fff;  display: inline;  font-size: 20px; font-weight: normal;  margin:0;  padding: 7px 10px;}
.destination_box{width:100%; background-color: #f4f4f4; postion:relative; padding:10px 10px 10px 15px; float:left;border-top:1px solid #40b6d0;clear:both; margin-top:7px;}
.destination_box img{padding-right:10px; margin-bottom:10px;float:left}
.des{float:left;clear:both}
.destination h4{color: #40b6d0;dislay:inline;margin-bottom:5px}
.destination_tour{ width:100%; background-color: #F7FBFC; postion:relative; padding:10px 0; float:left;border-top:1px solid #40b6d0;clear:both; margin-top:7px;}
.destination_tour .bpv-list-item{ background:#F7FBFC; border:0px;border-bottom:1px dotted #C6CFDE}
