#flightModal .modal-dialog {
	width: 400px
}
#flightModal .modal-body {padding: 15px}

.flight-content {
	float: left;
	width: 70%;
	padding-right: 20px
}
.flight-content-right {
	float: left;
	width: 30%;
}
.related-news h5 {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px
}

/* Flight News */
.flight-news h4 { font-weight: normal; font-size: 16px; }
.flight-news li { border-bottom: 1px dashed #ccc;}

/**
 *	Why Us
 *
 */
.why-us{
	padding: 0 5px;
}
.why-us h3:first-child {
	border-bottom: 1px dashed #c2c2c2;
	background-color: #fff;
	margin: 0 10px;
	padding: 10px 0
}

.why-us ul {
	font-size: 14px;
	padding-left: 0;
	color: #666;
	margin-top: 10px
}

.why-us li {
	margin-bottom: 15px
}



/*
* Flights box
*/
.bpv-box-payment {
	margin-top: 20px
}
.bpv-box-payment h3 {
	font-size: 16px;
}
.bpv-box-payment h3:first-child {
	padding: 10px;
}
.bpv-box-payment li {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	font-size: 11px;
}

/*
* Airlines Icons
*/

.flight-BL{
	width: 49px; height: 29px; background-image: url(/media/flight/BL.gif);
	display: inline-block;
	vertical-align: middle;
}

.flight-VJ{
	width: 49px; height: 29px; background-image: url(/media/flight/VJ.gif);
	display: inline-block;
	vertical-align: middle;
}

.flight-VN{
	width: 49px; height: 29px; background-image: url(/media/flight/VN.gif);
	display: inline-block;
	vertical-align: middle;
}

/**
 * Search Loading
 */
 
.flight-waiting-summary{
 	padding:15px;
 	border:2px solid #ff9406;
 	background-color:#fff;	
}

.flight-waiting-summary .col-1,
.flight-waiting-summary .col-2{
	float:left;
}
.flight-waiting-summary .col-1{
	padding-right:15px;
}

.flight-waiting-summary .des{
	font-size:18px;
	margin-right:5px;
}

.flight-waiting-summary .go{
	font-size:16px;
	margin-right:5px;
}

.flight-depart-selected{
	margin-bottom:20px;
	padding:0 !important;
	display:none;
	border:0 !important;
}
.flight-depart-selected .header{
	background-color: #ff9406;
	color:#FFF;
	padding: 5px 15px;
	margin:0;
}
.flight-depart-selected .content{
	padding:15px;
	border: 1px solid #ff9406;
}

/**
 * BPV Item list - apply for Flight
 */
 .bpv-search-bg{
 	padding:10px;
 	background-color:#f4f4f4;
 	border-radius:4x;
 }
.bpv-list-item{
	padding: 20px 15px;
	border: 1px solid #c8c8c8;
	position:relative;
	background-color:#FFF;
}

.bpv-list-item:hover{
	background-color:#fefefe;
    box-shadow:3px 3px 4px 0 rgba(102, 175, 233, 0.6);
}

.flight-code{
	font-size:16px;
	font-weight:bold;
}
.bpv-list-item .bpv-price-from{
	font-size:24px;
	line-height:1;
}
.flight-seat{
	font-size:14px;
	font-weight:bold;
}

.bpv-item-selected{
	border: 2px solid #FF9406;
}


/**
 * Flight Detail
 *
 */
 
.flight-details{
	border-top:1px dashed #c8c8c8;
	margin-top:10px;
	padding-top:10px;
}
.flight-details h3{
	font-size:13px;
	font-weight:bold;	
}
.flight-route{
	border-bottom: 1px dashed #EEE;
}
.flight-price{
	background-color:#EEE;
	padding:15px;
	font-size:13px;
}

.flight-price .price-value{
	font-weight:bold;
}

.flight-price .price-total{
	font-size: 18px;
	font-weight: bold;
}
.flight-price .label-total{
	font-size: 16px;
	font-weight: bold;
}

.flight-details .bpv-search-waiting{
	margin:15px 0;
}
.flight-details .bpv-search-waiting .ms1{
	font-size: 20px;
	margin-bottom:15px;
	
}
.flight-details .bpv-search-waiting .ms2{
	font-size: 16px;
}

.flight-details .bpv-search-waiting img{
	height:48px;
}


.booking-page .bpv-col-left{
	padding-left:20px;
	padding-right:0 !important;
}
.booking-page .bpv-col-right{
	margin-bottom:40px;
}


.data-area{
	background-color:#fff;
	border: 1px solid #d4d4d4;
	padding: 15px;
}
.required-message{
	padding: 5px 10px;
	background-color:#fef4eb;
	border: 1px solid #d89b9a;
	color: #ba1c1d;
}

.right-fixed{
	position:fixed;
}

/**
 * Table Flight Itinerary
 */
 
 .tbl-header{
	background-color:#F8F8F8;
	padding: 5px 10px;
	border: 1px solid #DDD;
	font-weight:bold;
	color: #666;
	background-color:#fff;
}
.tbl-row{
	padding: 10px;
	border: 1px solid #DDD;
	border-top:0;
	background-color:#fff;
}

.tbl-header span, .tbl-row span{
	display: inline-block;
	vertical-align: middle;
}
.tbl-airline{
	width: 10%;
}
.tbl-code{
	width: 20%;
}
.tbl-itinerary{
	width: 20%;
}
.tbl-departure-date{
	width:20%;
}
.tbl-departure-time{
	width:14%;
}
.tbl-arrival-time{
	width:12%;
}
.tbl-fare-rules{
	margin-top:15px;
	margin-left:5px;
}
.tbl-passenger{
}
.tbl-passenger tr td{
	padding: 5px;
}

.tbl-passenger select, .tbl-passenger input[type="text"] {
    font-size: 12px;
}
.tbl-passenger input[type="text"] {
    min-width: 260px;
}
.tbl-passenger .td-separation{
	padding-bottom:18px;
}
.tbl-passenger select{
	max-width:80px;
	float:left;
	margin-right:10px;
}

/**
 * Flight Booking Page
 */

.review-booking-line{
	margin-bottom:10px;
}
.review-booking-traveler{
	margin-bottom:10px;
	padding-left:25px;
}

.review-booking_step{
	padding:0 4px;background-color:#FCA903;font-weight:bold;
	margin-right:5px;
}


/**
 * Popular Flight Routes
 */


.tb-flights {
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
    border: 0;
}
.tb-flights thead {
    background-color: #F4F4F4;
    color: #555555;
}
.tb-flights thead th {
    padding: 5px 7px;
    font-size: 13px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #c0d3dc;
}
.tb-flights td {
    padding: 7px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #c0d3dc;
}
.tb-flights .bold-border {
	border-bottom: 3px solid #c0d3dc;
}

.btn-select {
	background-color: #3385D6;
	padding: 3px 10px 2px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 12px;
	margin-left: 10px;
	border-bottom: 3px solid #0071CD;
}
.btn-select:hover {
	color: #FFFFFF;
}
#tab_search_flight .ui-button-icon-only {
	right: 13px
}
.icon-arrow-right {
	background-position: -120px -363px;
	width: 9px;
	height: 5px;
}

/*
 * Flight Search Result
 */
.box-results {
	border: 2px solid #ECECEC; border-radius: 3px;
}
.box-results .box-content {
	border: 2px solid #C3C3C3; padding: 15px 0; overflow: hidden;
}
.box-price {
	float: left;
	border-left: 1px dashed #ccc;
}
.box-price li {
	width: 100%;
	float: left;
	text-align: right;
}

/*
 * Flight destination links 
 */
.flight-destinations {
	margin: 0 auto;
}
.flight-destinations li {
	margin-bottom: 5px
}

.deal-messages {
	border: 1px solid #FFFFFF;
	border-bottom: 0
}
.deal-messages h3 {
	background-color: #D3DCE1;
	padding: 10px;
	margin: 0
}
.deal-messages ul {
	margin-bottom: 0;
}

.deal-messages ul li {
	padding: 0 10px;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 20px
}

.deal-messages li h4 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px
}

.bg-gray {background-color: #F8F8F8}

.bpt-list-sm {padding: 20px 10px;}

/*
* Fix bug zIndex in Chrome
*/
.datepicker {
	z-index: 1160 !important;
}

.flight-support {
	background-color: #E8E8E0;
	padding: 10px;
	border-radius: 4px;
	padding-left: 20px;
	width: auto;
	margin-top: 10px
}

/*
 *	Flight Calendar
 *
 */
.cal-row{
	margin-right:-10px;
	margin-left:-10px;
}
.cal-col{
	padding-left: 10px;
	padding-right: 10px;
	width:14.28571428571429%;
	float:left
}
.cal-item{
	border:1px solid #CCC;
	color:#666;
}
.cal-item .week-day{
	background-color:#EEE;padding:5px 0;font-weight:bold;
}

.cal-item .cal-date{
	padding: 15px 0
}
.cal-selected{
	border:2px solid #ffcc33;
}
.cal-selected .week-day{
	background-color:#ffcc33;
}
.cal-selected .cal-date{
	padding: 14px 0
}

.cal-active{
	cursor: pointer;
	color:#3385d6;
}

.cal-active:hover{
	color:#FE8802;
}

.cal-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffcc33;
}

