/*
* Search
*/
.bpv-search-content {
	height: 280px
}
.mod-search .bpv-search-content {
	height: 270px
}
#tab_search_hotel {
	margin-top: 20px
}
#tab_search_hotel .search-btn-group {
	border: 0;
	margin: 20px 0 0;
	padding: 0;
}

#tab_search_flight .search-btn-group {
	border: 0;
	padding: 0;
	margin: 0
}

/*
* Map
*/
.hotel-des-info {
	position: absolute;
	right: 0;
	padding: 0 15px;
	font-size: 18px;
	font-weight: bold;
}
.hotel-des-info .des-name {
	float: left;
    font-size: 24px;
    margin-top: 5px;
    padding-right: 10px;
}
.hotel-des-info .des-numb-hotel {
	font-size: 36px
}
.hotel-des-info .des-hotel {
	font-size: 14px
}

/**
 * Top hotel destinations
 */
.top-destinations .content {
	padding: 15px 10px 10px;
}
.top-destinations .col-xs-4 {
	padding-bottom: 10px; font-weight: bold; font-size: 13px
}
.top-destinations .arrow-sm {
	background: url(/media/icon/arrow-sm.png) no-repeat;
	width: 8px;
	height: 8px;
	display: inline-block;
}

.show-more { color: #FE8802; font-size: 11px; margin: 10px 0; float: left; text-decoration: none; }
a.show-more:link, a.show-more:visited, a.show-more:active { color: #FE8802; text-decoration: none; }

/**
 * Hotel Destinations Links
 */
.hotel-destinations {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #C2C2C2;
	margin-bottom: 30px
}
.hotel-destinations h2 {
	border-bottom: 1px dashed #C2C2C2;
	padding-bottom: 10px;
	margin: 0 0 10px
}
.bottom-text-link {
	padding-bottom: 10px
}

/**
 * Hotel By Destination Page CSS
 */
.bpv-in-and-around, .bpv-filter-by {
	padding: 15px;
}
.bpv-in-and-around .title, .bpv-in-and-around .sub-title, .bpv-filter-by .title {
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 0 5px;
}
.bpv-in-and-around .sub-title {
	margin: 0 0 5px 0; color: #666
}
.bpv-in-and-around li {margin-bottom: 7px}
.bpv-in-and-around a {text-decoration: underline;}
.des-group {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
	margin: 10px 0
}
.bpv-filter-by .title {
	margin: 0 0 5px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	width: 100%
}

/**
 * Deals In Destination
 */
.deal-in-des{
	border:1px solid #e8e8e8;
	background-color: #f7f7f7;
	margin-bottom:30px;
}
.deal-in-des > .title{
	border-bottom: 1px solid #e8e8e8;
	height:44px;
	padding: 0 30px;
	color: #6b6b6b;
}
.deal-in-des > .content{
	padding: 15px 30px;
}

.deal-in-des .row{
	margin: 0 -8px;
}

.deal-in-des div[class*="col-"]{
	padding: 0 8px;
}

.all-hotel-in-des {
	border-top: 2px solid #E0E0E0;
	padding: 15px 0;
}

.all-hotel-in-des h2{
	margin-bottom: 15px;
}

.all-hotel-in-des .col{
	width:20%;
	padding-right:10px;
	padding-bottom:10px;
	float: left;
}

/**
 * BPV Item list - apply for Hotel
 */
.bpv-list-item{
	padding: 17px 15px;
	border: 1px solid #d3d3d3;
	position:relative;
	background-color:#FFF;
}

.bpv-list-item:hover{
	background-color:#fefefe;
    box-shadow:3px 3px 4px 0 rgba(102, 175, 233, 0.6);
}

.bpv-list-item .call-us{
	right:0;
	bottom:0;
	background-color:#fbefbf;
	position:absolute;
	padding:0px 10px;
}

.bpv-list-item .call-us .phone{
	font-weight:bold;
	font-size:14px;
	color:#d86417;
}

.bpv-list-item div[class*="col-"]{
	float:left;
}

.bpv-list-item > .col-1{
	width: 19.85111662531017%; /*160px;*/
}
.bpv-item > .col-1 > img{
	width:100%;
}

.bpv-list-item > .col-2{
	width: 48.38709677419355%; /*390px;*/
	padding-left:15px;
}

.bpv-list-item > .col-3{
	width:13.58024691358025%;/*110px*/
	padding-right:10px
}

.bpv-list-item > .col-4{
	width:18.11414392059553%; /*146px*/
}

.bpv-list-item .item-name{
	font-size:18px;
}
.bpv-list-item .item-name > span{
	font-size:16px;
}
.bpv-list-item .bpv-important-facility{
	padding: 2px 6px;
}


/**
 * Search Suggestion Page
 *
 */
.hotel-search-suggestion{
	width:60%;
	margin: 40px auto;
}

.hotel-search-suggestion h1{
	margin-bottom:20px;
}

.hotel-search-suggestion p{
	font-size:16px;
	font-style:italic;
	color:#666;
	margin-top:20px;
}

.hotel-search-suggestion .search-results{
	border: 1px solid #ccc;
	padding:15px;
	background-color:#FFF;
}

.hotel-search-suggestion .suggestion-item{
	padding: 10px 0;
	border-bottom: 1px dashed #CCC;
}

.hotel-search-suggestion .suggestion-item a{
	font-size: 16px;
}

.hotel-search-suggestion div[class*="col-"]{
	float:left;
}

.hotel-search-suggestion .suggestion-item .col-1{
	width:70%;
}

.hotel-search-suggestion .suggestion-item .col-2{
	width:30%;
}

/*--- Hotel Deal In Destination---*/
.deal-item-h-des{
	max-height:264px; overflow:hidden;
	position:relative;
	cursor:pointer;
}
.deal-item-h-des .deal-img{
	margin-top:-50px;
}
.deal-item-h-des .deal-content{
	position:absolute;
	width:100%;
	min-height:95px;
	background: url("/media/icon/deal_gray_bg.png") no-repeat right top;
	color:#FFF;
	text-align: right;
	padding:10px 15px;
}
.deal-item-h-des .hotel-name{
	font-size:22px;
	font-weight:bold;
}
.deal-item-h-des .pro-name{
	font-size:16px;
}

.deal-item-h-des .deal-value{
	font-size: 26px;
	font-weight:bold;
}

.deal-item-h-des .deal-offer{
	position: relative;
	float:right;
	margin-right:-15px;
	margin-top:10px;
	
	font-size:16px;
	
	background-color: #ff9900;
	padding: 2px 10px;
	background: url(/media/icon/deal_tag_bg.png) repeat;
	height: 46px
}

.deal-item-h-des .deal-offer .deal-arrow {
	background: url(/media/icon/orange_arrow_46.png) no-repeat;
	width: 25px;
	height: 46px;
	position: absolute;
	left: -25px;
	top: 0
}
.deal-item-h-des .go{
	background: url("/media/icon/go.png") no-repeat right top;
	width: 30px;
	height: 30px;
	margin-top:5px;
	display: inline-block;
}

.deal-item-h-des .deal-txt{
	vertical-align:top;
}