.bpv-col-left{
	padding-left:20px;
	padding-right:0 !important;
}
.bpv-col-right{
	margin-bottom:40px;
}

.right-fixed{
	position:fixed;
}


/*
 * Booking detail area
 *
 */

.data-area{
	background-color:#fff;
	border: 1px solid #d4d4d4;
	padding: 15px;
}

.hotel-info div[class*="col-"]{
	float:left;
}

.hotel-info .col-1{
	width: 19.85111662531017%;/*160px;*/
}
.hotel-info .col-2{
	width: 80.14888337468983%; /*626px;*/
	padding-left:15px;
}

.hotel-booking-detail h2{
	margin-top: 0;
}


.bpv-rate-table{
	border-radius:0 !important;
}

.bpv-rate-table td{
	text-align:left;
	vertical-align:middle !important;
}

.bpv-rate-table > table > thead > tr > td{
	font-size: 14px;
	text-align: center;
}
.bpv-rate-table > table > thead > tr > td:first-child{
	text-align:center;
}


.bpv-rate-table > table > tbody > tr > td:last-child{
	text-align: right;
}

.bpv-rate-table .bpv-price-origin{
	font-size:12px;
}

.bpv-rate-table .bpv-price-from{
	font-size:16px;
}

.bpv-rate-table .room-name{
	font-weight:bold;
}
.bpv-rate-table .room-name a{
	font-size:11px;
	font-weight:normal;
}

.bpv-rate-table .modal-dialog-room{
	width: 61.6398243045388%; /*842px;*/
	margin-top: 3%;
}

.bpv-rate-table .modal-dialog-room .col-fa{
	float:left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
}

.bpv-rate-table .popover{
	max-width: 30%;
}

.bpv-rate-table .no-cancel{
	text-decoration: underline;
	font-weight:bold;
	color: #666;
}

.bpv-rate-table .free-cancel{
	font-weight:bold;
	color: #409224;
	text-decoration:underline;
	white-space: nowrap;
}

.bpv-rate-table .col-index{
	width:8.673469387755102%;/*68px*/
	text-align:center;
}

.bpv-rate-table .col-room-name{
	width:30.86734693877551%;/*242px*/
}

.bpv-rate-table .col-condition{
	width:25.51020408163265%;/*200px*/
}

.bpv-rate-table .col-extra-bed{
	width:15.30612244897959%; /*120px*/
}

.bpv-rate-table .col-total-price{
	width:19.64285714285714%;
}

.bpv-rate-table .col-surcharge-name{
	width:39.54081632653061%;
	font-weight:bold;
}


/*
 * Contact Us
 *
 */

.contact{
	margin-top: 30px;
}
.contact img{
	float:left;
	position: relative;
	margin-right: 12px;
}

.contact .phone{
	font-weight: bold;
	font-size: 16px;
	margin-bottom:5px;
}
.bpv-update-wrapper {position:fixed;top:170px}
	