body{
    padding-bottom: 0px;
}
div,
nav,
ul,
li {
    outline: none !important
}
.inner-wrapper {
    padding-top: 20px
}
.content-body{
    padding-bottom: 0px;
}
.sidebar-left .nano {
    background: #272c33 !important;
    box-shadow: none !important;
}
.nano-content,
.editor-toolbar {
    margin-right: 0px !important
}
ul.nav-main {
    margin-right: 0px;
}
ul.nav-main li a {
    color: #fff;
}
ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
    background-color: #272c33 !important;
    color: #00c4cc !important;
}
.nav-active-custom {
    background-color: #3f4652 !important;
}
.property-item .label {
    display: block;
    padding: 0 4px !important;
    font-size: 75% !important;
    font-weight: 0.8em !important;
    line-height: initial !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    border-radius: 10px !important
}
#card-canvas .container {
    padding: 0 !important
}
#card-canvas .container .editor .editor-navbar {
    height: auto !important
}
.page-header h6 {
    margin-top: 0px;
    padding: 10px;
    color: #999;
}

#editor-section{
    margin-left: -25px;
    margin-top: -40px;
    background: #3f4652;
    padding: 0 20px 0 20px;
}
.editor-tools{
    padding-top:20px;
}
.editor-pan{
    position: relative;
}