body{
    padding-bottom: 0px;
}
div,
nav,
ul,
li {
    outline: none !important
}
.page-header{
    box-shadow: 1px 1px 0 1px #00c4cc;
    border-left: none;
    background: #00c4cc;
}
.page-header h2{
    border-bottom: none;
}
.page-header h6{
    color: #fff;
    margin-top: 0px;
    padding: 10px;
}
.sidebar-left .sidebar-header{
    height: 52px;
}
.sidebar-left .sidebar-header .sidebar-title, .sidebar-left .sidebar-header .sidebar-toggle, .sidebar-left .sidebar-header .sidebar-toggle i{
    background: #00c4cc;
    color: #fff;
}
.inner-wrapper {
    padding-top: 20px
}
.sidebar-left .sidebar-header .sidebar-toggle{
    color: #fff;
}
.content-body{
    padding-bottom: 0px;
}
.sidebar-left .nano {
    background: #272c33 !important;
    box-shadow: none !important;
}
.nano-content,
.editor-toolbar {
    margin-right: 0px !important
}
ul.nav-main {
    margin-right: 0px;
}
ul.nav-main li a {
    color: #fff;
}
ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
    background-color: #272c33 !important;
    color: #00c4cc !important;
}
.nav-active-custom {
    background-color: #3f4652 !important;
}
.property-item .label {
    display: block;
    padding: 0 4px !important;
    font-size: 75% !important;
    font-weight: 0.8em !important;
    line-height: initial !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    border-radius: 10px !important
}
#card-canvas .container {
    padding: 0 !important
}
/*#card-canvas .container .editor .editor-navbar {
    height: auto !important
}*/
#editor-section{
    margin-left: -25px;
    margin-top: -38px;
    background: #3f4652;
    padding: 0 20px 0 20px;
}

.range, .double-range, .range.active{
    display: none !important;
}

.editor-prop-pan-Upload .editor-pan-body, .editor-pan-edit-text .editor-pan-body{
    overflow: visible;
}

.editor-prop-pan-Upload .editor-pan-content{
    overflow: visible;
    background: #DFDFDF;
}

.editor-pan-edit-text .editor-pan-content{
    overflow: visible;
}
html.sidebar-left-collapsed .sidebar-left .sidebar-title{
    opacity: 1 !important;
}