{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html class="fixed sidebar-left-collapsed">
	{% load static %}
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Ghi âm theo cách của bạn</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/bootstrap/css/bootstrap.css' %}" />

		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/jquery-ui/jquery-ui.css' %}" />
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/jquery-ui/jquery-ui.theme.css' %}" />
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href=" {% static 'admin/assets/vendor/morris.js/morris.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href=" {% static 'admin/assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href=" {% static 'admin/assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href=" {% static 'admin/assets/stylesheets/theme-custom.css' %}">

		<link rel="stylesheet" href=" {% static 'custom-voice.css' %}">

		<!-- Le styles -->
		<style>
		.soundBite input {
			margin-right: 4px;
		}
		</style>

		<!-- Head Libs -->
		<script src=" {% static 'admin/assets/vendor/modernizr/modernizr.js' %}"></script>
		{% render_block "css" %}
	</head>
	<body>
		{% cms_toolbar %}
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src=" {% static 'porto/logo/Lovebird.png' %}" height="35" alt="Porto Admin" />
					</a>
					<div class="visible-xs toggle-sidebar-left">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li>
										<a href="index.html">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Trang chủ</span>
										</a>
									</li>
									<li class="nav-active-custom">
										<a>
											<i class="fa fa-columns" aria-hidden="true"></i>
											<span>Chèn âm thanh</span>
										</a>
									</li>
									
								</ul>
							</nav>
						</div>
				
						<script>
							// Maintain Scroll Position
							if (typeof localStorage !== 'undefined') {
								if (localStorage.getItem('sidebar-left-position') !== null) {
									var initialPosition = localStorage.getItem('sidebar-left-position'),
										sidebarLeft = document.querySelector('#sidebar-left .nano-content');
									
									sidebarLeft.scrollTop = initialPosition;
								}
							}
						</script>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Feedlove Voice</h2>
						<h6>Tính năng ghi âm tuyệt vời</h6>
					</header>

					<!-- start: page -->
					<div class="row">
						<div class="col-md-3" id="editor-section">
							<div class="row">
								<div class="col-md-12">
									<h3 class="sound-catalog-title">Âm thanh tự nhiên</h3>
									<div class="box-sound">
										<span>Tiếng mưa</span>
										<div class="box-feature">							
											<button class="btn" id="btn-tieng-mua-roi" onclick="effect('tieng-mua-roi');"><i class="fa fa-play"></i></button>
											<audio class="hide" id='tieng-mua-roi' running-status="stop" controls="" src=" {% static 'record/media/tieng-mua-roi.wav' %}"></audio>
										</div>
									</div>
									<div class="box-sound">
										<span>Âm thanh buổi sáng</span>
										<div class="box-feature">							
											<button class="btn" id="btn-am-thanh-buoi-sang" onclick="effect('am-thanh-buoi-sang');"><i class="fa fa-play"></i></button>
											<audio class="hide" id='am-thanh-buoi-sang' running-status="stop" controls="" src=" {% static 'record/media/am-thanh-buoi-sang.mp3' %}"></audio>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<h3 class="sound-catalog-title">Piano</h3>
									<div class="box-sound">
										<span>Kiss the rain</span>
										<div class="box-feature">							
											<button class="btn" id="btn-kiss-the-rain" onclick="effect('kiss-the-rain');"><i class="fa fa-play"></i></button>
											<audio class="hide" id='kiss-the-rain' running-status="stop" controls="" src=" {% static 'record/media/kiss-the-rain.mp3' %}"></audio>
										</div>
									</div>
									<div class="box-sound">
										<span>River flows in you</span>
										<div class="box-feature">							
											<button class="btn" id="btn-river-flows-in-you" onclick="effect('river-flows-in-you');"><i class="fa fa-play"></i></button>
											<audio class="hide" id='river-flows-in-you' running-status="stop" controls="" src=" {% static 'record/media/river-flows-in-you.mp3' %}"></audio>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-9">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<section class="panel recorder container">
									<div class="panel-body">
										<div class="row">				
											<div class="box-mg-15">
												<form class="form-horizontal form-bordered">
													<div class="form-group">															
														<label class="col-md-3 control-label">Record monitor volume </label>
														<div class="col-md-6">
															<input type="range" max="1" step="0.1" value="0" onchange="changeVolume(this.value)"/>
														</div>
													</div>
													<div class="form-group">															
														<label class="col-md-3 control-label">Start record </label>
														<div class="col-md-6">
															<button class="btn btn-primary" onclick="startRecording(this);">Record</button>
															<button class="btn btn-warning" onclick="stopRecording(this);" disabled>Stop</button>
														</div>
													</div>
													
													<div class="form-group">															
														<label class="col-md-3 control-label">Sequencer </label>
														<div class="col-md-6">
															<button class="btn btn-primary" onclick="startSequencer(this);">Play</button>
															<button class="btn btn-warning" onclick="stopSequencer(this);" disabled>Stop</button>
														</div>
													</div>
												</form>
												<hr />
												<table id="recordingslist">
													<tr>
														<th>Sound</th>
														<th id="sequencerBoxes">
															<!-- <p>Sequence</p> -->
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
															<input type="checkbox"/>
														</th>
													</tr>
													<tr>
														<th>Drone</th>
														<th>
															
															<input class='control' id='BaseNote' type='range' min='40' max='100' value='63'>
															<label for='BaseNote'>Base Note: <span class='controlVal'></span></label>
														</th>
														<th>																
															<input class='control' id='NumOsc' type='range' min='1' max='40' value='40'>
															<label for='NumOsc'>Number of Generators: <span class='controlVal'></span></label>
														</th>
														<th>
															<!-- <input type="checkbox" id="droneToggle" checked/> -->
														</th>
													</tr>
												</table>
												
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-12 col-lg-12 col-xl-12">
								<section class="panel editor container">
									<div class="panel-body">
										<div class="row">		
											<div class="box-mg-15">
												<div class="row">
													<div class="col-md-12">
														<div class="text-center">
															<div class="btn-toolbar" style="display: inline-block">
																<div class="btn-group">
																<a class="btn btn-primary" onclick="$('#audioLayerControl')[0].copy();"><i class="fa fa-files-o" aria-hidden="true"></i> Copy</a>
																<a class="btn btn-primary" onclick="$('#audioLayerControl')[0].paste();"><i class="fa fa-clipboard"></i> Paste</a>
																<a class="btn btn-primary" onclick="$('#audioLayerControl')[0].cut();"><i class="fa fa-scissors"></i> Cut</a>
																<a class="btn btn-primary" onclick="$('#audioLayerControl')[0].del();"><i class="fa fa-times" aria-hidden="true"></i></i> Delete</a>
																</div>
																<div class="btn-group">
																<a class="btn btn-success" onclick="$('#audioLayerControl')[0].selectAll();"><i class="fa fa-list"></i> Select All</a>
																<a class="btn btn-success" onclick="$('#audioLayerControl')[0].zoomIntoSelection();"><i class="fa fa-arrows"></i> Zoom To Selection</a>
																<a class="btn btn-success" onclick="$('#audioLayerControl')[0].zoomToFit();"><i class="fa fa-arrows-alt"></i> Zoom To Fit</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-4">
														<h6>Spectrum</h6>
														<div class="well">
															<div id="spectrum"></div>
														</div>
													</div>
													<div class="col-md-8">
														<h6>Editor</h6>
														<div class="well">
															<audioLayerControl id="audioLayerControl" title="CloudCompany.mp3" />
														</div>
														<!--<div id="editor">
																<div id="editorbox">
																	<audioLayerControl id="audioLayerControl" title="CloudCompany.mp3" />
																</div>
															</div>-->
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12">
														<div class="text-center">
															<div class="btn-toolbar" style="display: inline-block">
															<div class="btn-group">
																<a id="btn_play" class="btn btn-success btn-large" onclick="$('#audioLayerControl')[0].play()" rel="tooltip" title="first tooltip"><i class="fa fa-play"></i></a>
																<a id="btn_pause" class="btn btn-success btn-large disabled"><i class="fa fa-pause"></i></a>
																<a id="btn_stop" class="btn btn-success btn-large" onclick="$('#audioLayerControl')[0].stop()"><i class="fa fa-stop"></i></a>
																<a id="btn_loop" class="btn btn-warning btn-large" data-toggle="button" onclick="$('#audioLayerControl')[0].toggleLoop();"><i class="fa fa-repeat"></i></a>
															</div>
															<div class="btn-group">
																<!-- <a class="btn btn-large btn-primary" onclick="$('#audioLayerControl')[0].save($('#savelink')[0]);"><i class="icon-fire"></i> Render</a> -->
																<button class="btn btn-large btn-success" id="savelink" onclick="$('#audioLayerControl')[0].saveBack();"><i class="icon-download"></i> Save</button>
															</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-2"></div>
													<div class="col-md-8">
														<div class="progress progress-striped active">
															<div id="app-progress" class="bar progress-bar" style="width: 0%;"></div>
														</div>
													</div>
													<div class="col-md-2"></div>
												</div>  
												<br>
												<div class="row">
													<div class="col-md-4">
														<h6>Gain</h6>
														<div class="well" style="height: 130px; position:relative">
															<p>Change the volume of the selected audio sequence with the given gain multiplicator.</p>
															
															<div class="pull-right" style=" position:absolute; bottom: 5px; width: 100%;" >
																<div class="btn-group" >
																
																	<button class="btn btn-success" onclick="decrease_db()"><i class="fa fa-minus"></i></button>
																	<button id="gain-db" class="btn disabled" onclick="gain_btn_clicked()">0 db</button>
																	<button class="btn btn-success" onclick="increase_db()"><i class="fa fa-plus"></i></button> 
																</div>
															</div>
															<script type="text/javascript">
																var db_gain = 0;

																function decrease_db()
																{
																--db_gain;
																update_db_gain_btn();
																}

																function increase_db()
																{
																++db_gain;
																update_db_gain_btn();
																}

																function update_db_gain_btn()
																{
																var gain_btn = $('#gain-db')[0];

																gain_btn.innerHTML = db_gain + ' db'; 

																if (db_gain === 0)
																{
																	gain_btn.className = 'btn disabled';
																}
																else
																{
																	gain_btn.className = 'btn btn-primary';
																}
																}

																function gain_btn_clicked()
																{
																$('#audioLayerControl')[0].filterGain(db_gain);
																db_gain = 0;
																update_db_gain_btn();
																}
															</script>
														</div>
													</div>
													<div class="col-md-4">
														<h6>Normalize</h6>
														<div class="well" style="height: 130px; position:relative">
															<p>Adjust the volume to the maximum of the selected audio sequence.</p>
															<a style="position:absolute; bottom: 5px; right: 5px"  class="btn btn-primary pull-right" onclick="$('#audioLayerControl')[0].filterNormalize();">Apply</a>
															<br>
														</div>
														</div>
													<div class="col-md-4">
														<h6>Silence</h6>
														<div class="well" style="height: 130px; position:relative">
															<p>Silence the selected audio sequence</p>
															<a style="position:absolute; bottom: 5px; right: 5px"  class="btn btn-primary pull-right" onclick="$('#audioLayerControl')[0].filterSilence();">Apply</a>
															<br>
														</div>
													</div>
													<div class="col-md-4">
														<h6>Fade In</h6>
														<div class="well" style="height: 130px; position:relative">
															<p>Create a linear fade int of the selected audio sequence</p>
															<a style="position:absolute; bottom: 5px; right: 5px"  class="btn btn-primary pull-right" onclick="$('#audioLayerControl')[0].filterFadeIn();">Apply</a>
															<br>
														</div>
														</div>
													<div class="col-md-4">
														<h6>Fade Out</h6>
														<div class="well" style="height: 130px; position:relative">
															<p>Create a linear fade out of the selected audio sequence</p>
															<a style="position:absolute; bottom: 5px; right: 5px" class="btn btn-primary pull-right" onclick="$('#audioLayerControl')[0].filterFadeOut();">Apply</a>
															<br>
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>

		<!-- Web Font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js"></script>

	<!-- Vendor -->
	<script src=" {% static 'admin/assets/vendor/jquery/jquery.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
	<script src=" {% static 'admin/assets/vendor/jquery-placeholder/jquery-placeholder.js' %}"></script>
	
	<!-- Theme Base, Components and Settings -->
	<script src=" {% static 'admin/assets/javascripts/theme.js' %}"></script>
	
	<!-- Theme Custom -->
	<script src=" {% static 'admin/assets/javascripts/theme.custom.js' %}"></script>
	
	<!-- Theme Initialization Files -->
	<script src=" {% static 'admin/assets/javascripts/theme.init.js' %}"></script>
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <script type="text/javascript" src=" {% static 'record/app/js/ACFIRFilter.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/ACAAFilter.js' %}"></script> 
    <script type="text/javascript" src=" {% static 'record/app/js/ACSpectrum.js' %}"></script>    
    <script type="text/javascript" src=" {% static 'record/app/js/ACFFT.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/SpectrumWorker.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/SpectrumDisplay.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/audioplayback.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/filedropbox.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/fft.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/audioLayerControl.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/audiosequence.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/AudioSequenceEditor.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/mathutilities.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/wavetrack.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/binarytoolkit.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/filesystemutility.js' %}"></script>
    <script type="text/javascript" src=" {% static 'record/app/js/editorapp.js' %}"></script>

	<script>
		var WORKER_PATH = " {% static 'record/js/lib/recorderWorker.js' %}";
	</script>
    <script src=" {% static 'record/js/lib/recorder.js' %}"></script>
    <script src=" {% static 'record/js/recordLive.js' %}"></script>
    <script src=" {% static 'record/js/sequencer.js' %}"></script>
    <script src=" {% static 'record/js/drone.js' %}"></script>
    <script src=" {% static 'record/js/custom-voice.js' %}"></script>
	{% render_block "js" %}
	</body>
</html>