.news-header{
	background-color:#ededed;
	padding: 10px;
}
.news-content{
	border-bottom: 1px dashed #CCC;
}

.bpv-s-content{
	margin-left:-10px;
	margin-right:-10px;
}
#filter_airlines label img{
	margin-top:-10px
}
/*
* Airlines Icons
*/

.flight-BL{
	width: 49px; height: 29px; background-image: url(/media/flight/BL.gif);
	display: inline-block;
	margin-top: -5px;
}

.flight-VJ{
	width: 49px; height: 29px; background-image: url(/media/flight/VJ.gif);
	display: inline-block;
	margin-top: -5px;
}

.flight-VN{
	width: 49px; height: 29px; background-image: url(/media/flight/VN.gif);
	display: inline-block;
	margin-top: -5px;
}

/** --- Flight Departure Selected --- **/

.flight-depart-selected{
	background-color: #ff9406;
    border: 1px solid #ff9406;
    font-size:14px;
}

.flight-depart-selected h2{color: #FFF; padding:0 10px}

.flight-depart-selected .content{padding:10px;background-color: #FFF}
.flight-depart-selected .des{
	font-size:18px;
	margin-right:5px;
}
.flight-depart-selected .go{
	font-size:16px;
	margin-right:5px;
}
.sep-line{
	border-bottom:1px solid #CCC;
	padding-bottom:10px;
}


/**
 * Search Loading
 */
 .flight-waiting-summary{
 	padding:10px;
 	border:2px solid #ff9406;
 	margin-top:10px;
 }

.flight-waiting-summary .des{
	font-size:18px;
	margin-right:5px;
}

.flight-waiting-summary .go{
	font-size:16px;
	margin-right:5px;
}

/**
 * BPV Item list - apply for Flight
 */
.bpv-list-item{
	padding: 10px;
	border: 1px solid #c8c8c8;
	position:relative;
	background-color:#FFF;
}

.bpv-list-item:hover{
	background-color:#fefefe;
    box-shadow:3px 3px 4px 0 rgba(102, 175, 233, 0.6);
}

.bpv-list-item .bpv-price-from{
	font-size:18px;
	line-height:1;
}
.flight-seat{
	font-size:14px;
	font-weight:bold;
}

.bpv-item-selected{
	border: 2px solid #FF9406;
}

/*--- Flight Itinerary --*/
.flight-i-route{
	padding: 10px 0;
	border-top: 1px dashed #CCC;
}
.fligh-i-total-price{
	border: 1px solid #ff9406;
	padding: 5px 10px; 
}
.flight-time{
	font-size:12px;
	font-weight:bold;
}


/**
 * Flight Detail
 *
 */
 
.flight-details{
	border-top:1px dashed #c8c8c8;
	margin-top:10px;
	padding-top:10px;
}
.flight-details h3{
	font-size:13px;
	font-weight:bold;	
}
.flight-route{
	border-bottom: 1px dashed #EEE;
}
.flight-price{
	background-color:#EEE;
	padding:10px;
	font-size:13px;
}

.flight-price .price-value{
	font-weight:bold;
}

.flight-price .price-total{
	font-size: 18px;
	font-weight: bold;
}
.flight-price .label-total{
	font-size: 16px;
	font-weight: bold;
}

.flight-details .bpv-search-waiting{
	margin:15px 0;
}
.flight-details .bpv-search-waiting .ms1{
	font-size: 20px;
	margin-bottom:15px;
	
}
.flight-details .bpv-search-waiting .ms2{
	font-size: 16px;
}

.flight-details .bpv-search-waiting img{
	height:48px;
}

/*
 *	Flight Calendar
 *
 */
.cal-row{
	margin-right:-10px;
	margin-left:-10px;
	margin-bottom:20px;
}
.cal-col{
	padding-left: 10px;
	padding-right: 10px;
	width:33.33333333333333%;
	float:left
}
.cal-item{
	border:1px solid #CCC;
	color:#666;
}
.cal-item .week-day{
	background-color:#EEE;padding:5px 0;font-weight:bold;
}

.cal-item .cal-date{
	padding: 10px 0
}
.cal-selected{
	border:2px solid #ffcc33;
}
.cal-selected .week-day{
	background-color:#ffcc33;
}
.cal-selected .cal-date{
	padding: 9px 0
}

.cal-active{
	cursor: pointer;
	color:#3385d6;
}

.cal-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffcc33;
}



