.booking-info { clear: both; overflow: hidden; }
.booking-info img { max-width: 40% }
.booking-info .row { border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-top: 15px; margin-bottom: 10px }
.booking-info a { text-decoration: underline; }
.booking-info .icon-edit { font-size: 16px; margin-right: 5px }
.sep-line {border-bottom: 1px dashed #ccc;margin: 10px 0;}