{% extends "record_templates/record.html" %}
{% load cms_tags %}
{% load static %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
  {% placeholder "content" or %}
        <h1 style="position: absolute; left: 50%; top: 50%; margin-left: -192px; margin-top: -261px;font-size:100pt">404</h1>
        <!-- 404 Content -->
        <img src="{% static 'libs.feedlove.vn/images/logo-feedlove-without-text@2x.png' %}" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;width:400px">
        <!-- /.container -->
        {% endplaceholder %}
{% endblock content %}
