# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
application/config/config.php
application/config/database.php
admin/application/config/config.php
admin/application/config/database.php