<div class="col-md-4">
	<div class="editor-tools">
		<div class="editor-pans"></div>
	</div>
</div>
<div class="col-md-8">
	<div id="card-canvas">
		<div class="container">
			<div class="editor border-box">
				<div class="editor-navbar clearfix">
					<ul>
						<li class="btn border-box tip-add-text" data-ecc-id="text"><span><i class="ecc-icon ecc-icon-plus"></i> Chèn chữ</span></li>
						<li class="btn border-box tip-add-clipart" data-ecc-id="clipart"><span><i class="ecc-icon ecc-icon-plus"></i> Chèn Sticker</span></li>
						<li class="btn last border-box tip-save-card" data-ecc-id="save"><span><i class="ecc-icon ecc-icon-save"></i> Lưu thiệp</span></li>
					</ul>
				</div>
				<div class="editor-body" tabindex="0">
					<div id="editor-canvas-container"></div>
					<div class="editor-progress"><span>Đang tải</span></div>
				</div>
				
			</div>

			<div class="editor-not-supported">
				<p>Trình duyệt của bạn không hỗ trợ <a href=" {% static 'canvas/http://en.wikipedia.org/wiki/Canvas_element">html5 canvas</a>. Xin vui lòng nâng cấp phiên bản trình duyệt!</p>
			</div>

			<div class="card-save-form">
				<div class="form">

					<form action="/edit" method="post">
						<label class="label-optional label-optional-personal label-required-public" for="Title">Tiêu đề</label>
						<input id="Title" name="Title" type="text" value="" />
						<label class="label-optional label-optional-personal label-required-public" for="CategoryId">Danh mục</label>
						<select id="CategoryId" name="CategoryId">
							<option value="">Chọn danh mục</option>
							<option value="2">Birthday</option>
							<option value="3">Love</option>
							<option value="4">Friendship</option>
							<option value="5">Thank You</option>
							<option value="6">Anniversary</option>
							<option value="7">Get Well</option>
							<option value="8">Congratulations</option>
							<option value="9">Funny</option>
							<option value="10">Celebration</option>
							<option value="1">Everyday</option>
						</select>
						<label class="label-optional" for="Tags">Tags</label>
						<input id="Tags" name="Tags" type="text" value="" />
						<span class="tip">Separate each tag with a comma (,)</span>
						<input id="Description" name="Description" type="hidden" value="Some short or long description" />
						<input id="photo" name="photo" type="hidden" value="" />
						<input id="definition" name="definition" type="hidden" value="[{src:&#39;background/notebook.png&#39;,type:&#39;background&#39;}]"
						/>
						<input id="filtersDisabled" name="filtersDisabled" type="hidden" value="" />
						<button type="submit" class="save" style="width:160px;">Lưu</button>
					</form>
					<div class="status-error"></div>
					<div class="save-progress">Đang lưu...Xin đợi...</div>
				</div>
				<p class="card-save-form-terms"><i class="ecc-icon ecc-icon-info"></i> Please note that by saving this card you agree to the <a href=" {% static 'canvas/#" target="_blank">terms</a>                of this site.</p>
				<div class="card-save-form-download">
					<form action="/Card/DownloadCard" method="post">
						<input type="hidden" name="data" />
						<p><i class="ecc-icon ecc-icon-save"></i> If You don't want to email or share your card you can alternatively
							<a href=" {% static 'canvas/#">download it from here</a>.</p>
					</form>
				</div>
			</div>

			<ol id="joyRideTipContent">
				<li data-class="tip-change-background" data-text="Next" data-options="tipLocation:top;">
					<h2>Change Background</h2>
					<p>Change the background of your card by selecting the <strong>Change</strong> option.</p>
				</li>
				<li data-class="tip-upload-photo" data-text="Next" data-options="tipLocation:top;">
					<h2>Upload Photo</h2>
					<p>Use your personal photos as background by selecting the <strong>Upload</strong> option.</p>
				</li>
				<li data-class="tip-add-text" data-button="Next">
					<h2>Add Text</h2>
					<p>Add text to your card by selecting the <strong>Text</strong> option on the toolbar.</p>
				</li>
				<li data-class="tip-add-clipart" data-button="Next">
					<h2>Add Clipart</h2>
					<p>You can add custom clipart to your card by selecting the <strong>Clipart</strong> option on the toolbar.</p>
				</li>
				<li data-class="tip-save-card" data-button="Close">
					<h2>Save Card</h2>
					<p>Save and share your creation by selecting the <strong>Save</strong> option on the toolbar.</p>
				</li>
			</ol>
		</div>
	</div>
</div>
