<div id="contentContainer">
	<!--AJAX CONTAINER-->
	<div id="ajax-content">

		<!--PAGE INFO FOR UPDATING BODY CLASS AND DOC TITLE-->
		<div id="page-info" data-page-title="" class="home page page-template-page-reviews ajax-on"></div>





		<!--VIDEO CONTAINER-->
		<div class="videoContainer self-video" id="video130" data-vidid="videos/drama_trailer.mp4" >
			<div class="closeVideo">&times;</div>
		</div>

	</div><!--END AJAX CONTAINER-->

	<!--FULL SEARCH BAR-->
	<form role="search" method="get" id="full-search" action="http://themes.themolitor.com/vysual/">
		<input type="text" value="Search Site..." onfocus="this.value='';" name="s" id="big-input" />
	</form>

	<!--AUDIO PLAYER-->
	<div id="audioControl" class="paused">
		<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
	</div>
	<audio id="audioPlayer">
		<source src="audio/Everything-I-Do-It-For-You-Bryan-Adams.mp3" type="audio/mpeg">
	</audio>

	<!--SOCIAL ICONS-->
	<div id="socialIcons">
		<a id="link-search" rel="search" data-title="Search" href="#"><i class="fa fa-search"></i></a>
		<a target="_blank" id="link-rss" data-title="RSS" href="#"><i class="fa fa-rss"></i></a>
		<a target="_blank" id="link-facebook" data-title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
		<a target="_blank" id="link-twitter" data-title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
		<a target="_blank" id="link-youtube" data-title="YouTube" href="#"><i class="fa fa-youtube-play"></i></a>
		<a target="_blank" id="link-vimeo" data-title="Vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
		<a target="_blank" id="link-instagram" data-title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
		<a target="_blank" id="link-google-plus" data-title="Google+" href="#"><i class="fa fa-google-plus"></i></a>
		<a target="_blank" id="link-tumblr" data-title="Tumblr" href="#"><i class="fa fa-tumblr"></i></a>
		<a target="_blank" id="link-flickr" data-title="Flickr" href="#"><i class="fa fa-flickr"></i></a>
	</div>

	<!--IMAGE SLIDESHOW-->
	<div id="headerImages"></div>

	<!--LOADING ANIMATION-->
	<div id="loading-page"></div>

	<!--CONTENT COVER-->
	<div id="contentCover"></div>

</div><