{% load static %}
<style scoped>
/*------------------------------------*/
/*---------CONTAINER STUFF-----------*/
/*----------------------------------*/
#contentContainer {
	width:100%;
	height: 100%;
	position: relative;
	z-index: 2;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	background-color: #191919;
}
body.full-screen-video #contentContainer {
	box-shadow: none;
}

#contentCover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.35);
	display: none;
	cursor: pointer;
	z-index: 100;
}


/*-------------------------*/
/*--HEADER IMAGE STUFF----*/
/*-----------------------*/
#headerImages {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
#headerImages:after {
	content: '';
	display: block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	background-color: #000;
	opacity: .35;
}
body.page-template-page-reviews #headerImages:after {
	opacity: .35;
}
body.single #headerImages:after,
body.page-template-default #headerImages:after,
body.page-template-page-center #headerImages:after,
body.category #headerImages:after,
body.blog #headerImages:after,
body.archive #headerImages:after,
body.search #headerImages:after,
.page-image-container:after {
    opacity: .8;
}


.header-image {
	display: none;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-image:first-child {
	display: block;
}
.header-image.activeBg {
	z-index: 2;
}
.header-image img {
	display: none;
}
/*--VIDEO BACKGROUND--*/
.wallpaper-container {
	display: block !important;
	z-index: 2 !important;
}

/*----------------------------------*/
/*---------LOADING STUFF-----------*/
/*--------------------------------*/
#loading-page {
    background-size: cover;
    background-position: center;
    background-color: #555;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
#loading-page::after {
    background: rgba(0, 0, 0, 0.65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: block;
}
.fs-background {
  overflow: hidden;
  position: relative;
}
.fs-background,
.fs-background-container,
.fs-background-media {
  -webkit-transition: none;
          transition: none;
}
.fs-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.fs-background-media {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.fs-background-media.fs-background-animated {
  -webkit-transition: opacity 0.5s linear;
          transition: opacity 0.5s linear;
}
.fs-background-media img,
.fs-background-media video,
.fs-background-media iframe {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-user-drag: none;
}
.fs-background-media.fs-background-native,
.fs-background-media.fs-background-fixed {
  width: 100%;
  height: 100%;
}
.fs-background-media.fs-background-native img,
.fs-background-media.fs-background-fixed img {
  display: none;
}
.fs-background-media.fs-background-native {
  background-position: center;
  background-size: cover;
}
.fs-background-media.fs-background-fixed {
  background-position: center;
  background-attachment: fixed;
}
.fs-background-embed.fs-background-ready:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
}
.fs-background-embed.fs-background-ready iframe {
  z-index: 0;
}
</style>

<div id="contentContainer">

	<audio id="audioPlayer">
	  <source src="https://feedlove.vn/static/vysual_html_video/audio/secrets-demo.mp3" type="audio/mpeg">
	</audio>


	<!--IMAGE SLIDESHOW-->
	<div id="headerImages"></div>

	<!--LOADING ANIMATION-->
	<div id="loading-page"></div>

	<!--CONTENT COVER-->
	<div id="contentCover"></div>

</div><!--end contentContainer-->

<!--JavaScript-->
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/core.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/transition.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/background.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/spin.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/custom.js' %}"></script>
<script type='text/javascript' src="{% static 'vysual_html_video/scripts/retina.js' %}"></script>