{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
{% if detail_view %}
    <div class="blog-posts single-post">
        <article class="post post-large blog-single-post">
            <div class="post-image">
                <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                    <div>
                        <div class="img-thumbnail">
                            <a href="#">
                                <img class="img-responsive"  src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail">
                            <a href="#">
                                <img class="img-responsive"  src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-date">
                <span class="day">10</span>
                <span class="month">Jan</span>
            </div>

            <div class="post-content">
                <h2>
                    {% if not detail_view %}
                        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
                    {% else %}
                        {% render_model article "title" %}
                    {% endif %}
                </h2>

                <div class="post-meta">
                    <span><i class="fa fa-user"></i> {% include "aldryn_newsblog/includes/author.html" with author=article.author %}</span>
                    {% if article.tags %}
                    <span>
                        <i class="fa fa-tag"></i>
                        {% for tag in article.tags.all %}
                                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                            {% endfor %}
                    </span>
                    {% endif %}
                    <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                </div>
                {% render_model article "lead_in" %}
                {% render_placeholder article.content language placeholder_language %}
                <div class="post-block post-share">
                    <h3 class="heading-primary"><i class="fa fa-share"></i>Chia sẻ bải iết</h3>

                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_tweet"></a>
                        <a class="addthis_button_pinterest_pinit"></a>
                        <a class="addthis_counter addthis_pill_style"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
                    <!-- AddThis Button END -->

                </div>

                <div class="post-block post-author clearfix">
                    <h3 class="heading-primary"><i class="fa fa-user"></i>Tác giả</h3>
                    <div class="img-thumbnail">
                        <a href="blog-post.html">
                            <img src="img/avatars/avatar.jpg" alt="">
                        </a>
                    </div>
                    <p><strong class="name"><a href="#">John Doe</a></strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui. </p>
                </div>

                <div class="post-block post-comments clearfix">
                    <h3 class="heading-primary"><i class="fa fa-comments"></i>Bình luận (3)</h3>

                    <ul class="comments">
                        <li>
                            <div class="comment">
                                <div class="img-thumbnail">
                                    <img class="avatar" alt="" src="img/avatars/avatar-2.jpg">
                                </div>
                                <div class="comment-block">
                                    <div class="comment-arrow"></div>
                                    <span class="comment-by">
                                        <strong>John Doe</strong>
                                        <span class="pull-right">
                                            <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                        </span>
                                    </span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                    <span class="date pull-right">November 12, 2016 at 1:38 pm</span>
                                </div>
                            </div>

                            <ul class="comments reply">
                                <li>
                                    <div class="comment">
                                        <div class="img-thumbnail">
                                            <img class="avatar" alt="" src="img/avatars/avatar-3.jpg">
                                        </div>
                                        <div class="comment-block">
                                            <div class="comment-arrow"></div>
                                            <span class="comment-by">
                                                <strong>John Doe</strong>
                                                <span class="pull-right">
                                                    <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                                </span>
                                            </span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                            <span class="date pull-right">November 12, 2016 at 1:38 pm</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="img-thumbnail">
                                            <img class="avatar" alt="" src="img/avatars/avatar-4.jpg">
                                        </div>
                                        <div class="comment-block">
                                            <div class="comment-arrow"></div>
                                            <span class="comment-by">
                                                <strong>John Doe</strong>
                                                <span class="pull-right">
                                                    <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                                </span>
                                            </span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                            <span class="date pull-right">November 12, 2016 at 1:38 pm</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="img-thumbnail">
                                    <img class="avatar" alt="" src="img/avatars/avatar.jpg">
                                </div>
                                <div class="comment-block">
                                    <div class="comment-arrow"></div>
                                    <span class="comment-by">
                                        <strong>John Doe</strong>
                                        <span class="pull-right">
                                            <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                        </span>
                                    </span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span class="date pull-right">November 12, 2016 at 1:38 pm</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="img-thumbnail">
                                    <img class="avatar" alt="" src="img/avatars/avatar.jpg">
                                </div>
                                <div class="comment-block">
                                    <div class="comment-arrow"></div>
                                    <span class="comment-by">
                                        <strong>John Doe</strong>
                                        <span class="pull-right">
                                            <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                        </span>
                                    </span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <span class="date pull-right">November 12, 2016 at 1:38 pm</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </article>
    </div>
{% else %}
    <article class="post post-medium article {% if article.is_featured %} featured{% endif %} {% if not article.published %} unpublished{% endif %}">
    <div class="row">
        <div class="col-md-5">
            <div class="post-image">
                <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                    <div>
                        <div class="img-thumbnail">
                            <a href="#">
                                <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail">
                            <a href="#">
                                <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="post-content">
                {% if article.categories.exists %}
                    <p>
                        {% for category in article.categories.all %}
                            <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <h2>
                    {% if not detail_view %}
                        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
                    {% else %}
                        {% render_model article "title" %}
                    {% endif %}
                </h2>
                {% render_model article "lead_in" %}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="post-meta">
                <span><i class="fa fa-calendar"></i> {{ article.publishing_date|date }}</span>
                <span><i class="fa fa-user"></i> {% include "aldryn_newsblog/includes/author.html" with author=article.author %}</span>
                {% if article.tags %}
                <span>
                    <i class="fa fa-tag"></i>
                    {% for tag in article.tags.all %}
                            <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                        {% endfor %}
                </span>
                {% endif %}
                <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                 {% if not detail_view %}
                        <a  class="btn btn-xs btn-primary pull-right" href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% trans "Read more" %}</a>
                    {% else %}
                        {% trans "Read more" %}
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endif %}

