{% load static %}
<section class="section section-no-border background-color-light m-none">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6 custom-margin-4-sm">
                <img src="{% static 'porto/img/logos/logo-1.png' %}" alt class="img-responsive" />
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 custom-margin-4-sm">
                <img src="{% static 'porto/img/logos/logo-2.png' %}" alt class="img-responsive" />
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 custom-margin-4-sm">
                <img src="{% static 'porto/img/logos/logo-3.png' %}" alt class="img-responsive" />
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 custom-margin-4-sm">
                <img src="{% static 'porto/img/logos/logo-4.png' %}" alt class="img-responsive" />
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <img src="{% static 'porto/img/logos/logo-5.png' %}" alt class="img-responsive" />
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <img src="{% static 'porto/img/logos/logo-6.png' %}" alt class="img-responsive" />
            </div>
        </div>
    </div>
</section>