<div id="home" class="slider-container rev_slider_wrapper" style="height: 100vh;">
    <div id="revolutionSlider" class="slider manual rev_slider">
        <ul>
            <li data-transition="fade">
                <img src="img/demos/one-page-agency/slides/slide-1.jpg"
                    alt=""
                    data-bgposition="center center"
                    data-bgfit="cover"
                    data-bgrepeat="no-repeat"
                    class="rev-slidebg">

                <h1 class="tp-caption text-color-light font-weight-bold"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="center" data-voffset="-55"
                    data-start="500"
                    data-fontsize="80"
                    data-transform_in="y:[-300%];opacity:0;s:500;">NEW DESIGN?</h1>

                <div class="tp-caption text-color-light"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="['center','center','center','center']" data-voffset="['-10','-10','-10','0']"
                    data-start="1500"
                    data-fontsize="['18','18','18','25']"
                    data-whitespace="nowrap"
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    data-mask_in="x:0px;y:0px;">CHECK OUR OPTIONS AND FEATURES</div>

                <div class="tp-caption"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="['center','center','center','center']" data-voffset="['15','15','15','35']"
                    data-start="2000"
                    data-fontsize="['12','12','12','19']"
                    data-transform_in="y:[100%];opacity:0;s:500;">PORTO AGENCY - NEW YORK/NY</div>

            </li>
            <li data-transition="fade">
                <img src="img/demos/one-page-agency/slides/slide-2.jpg"
                    alt=""
                    data-bgposition="center center"
                    data-bgfit="cover"
                    data-bgrepeat="no-repeat"
                    class="rev-slidebg">

                <h1 class="tp-caption text-color-light font-weight-bold"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="center" data-voffset="-55"
                    data-start="500"
                    data-fontsize="80"
                    data-transform_in="y:[-300%];opacity:0;s:500;">MOBILE APPS?</h1>

                <div class="tp-caption text-color-light"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="['center','center','center','center']" data-voffset="['-10','-10','-10','0']"
                    data-start="1500"
                    data-fontsize="['18','18','18','25']"
                    data-whitespace="nowrap"
                    data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;"
                    data-mask_in="x:0px;y:0px;">CHECK OUR OPTIONS AND FEATURES</div>

                <div class="tp-caption"
                    data-x="['left','left','left','left']" data-hoffset="['0','0','30','85']"
                    data-y="['center','center','center','center']" data-voffset="['15','15','15','35']"
                    data-start="2000"
                    data-fontsize="['12','12','12','19']"
                    data-transform_in="y:[100%];opacity:0;s:500;">PORTO AGENCY - NEW YORK/NY</div>

            </li>
        </ul>
    </div>
</div>