{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load static %}
<head>
<meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<!--PAGE TITLE-->
<title>{% page_attribute "page_title" %}</title>

<!--GOOGLE FONT CSS-->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Six+Caps' type='text/css' media='all' />

<!--BOOTSTRAP-->
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/bootstrap-3.3.7/css/bootstrap.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" type='text/css' media='all' />

<!--Multiple Step CSS-->
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/css/multipleStep.css' %}" type='text/css' media='all' />

<!-- SM2 demo/homepage-specific stuff -->
<script type="text/javascript">var is_home = true;</script>

<!--LOCAL CSS-->
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/zoom_box/zoom_box.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/css/respond.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/font-awesome-4.3.0/css/font-awesome.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href=" {% static 'libs.feedlove.vn/css/background.css' %}" type='text/css' media='all' />

<!-- the SoundManager 2 API -->
<script type="text/javascript" src=" {% static 'libs.feedlove.vn/script/soundmanager2.js' %}"></script>

<script src="script/bar-ui.js"></script>
<link rel="stylesheet" href=" {% static 'libs.feedlove.vn/css/bar-ui.css' %}" />

<!-- demo for this page only, you don't need this stuff -->
<script src="script/demo.js"></script>
<link rel="stylesheet" href=" {% static 'libs.feedlove.vn/css/demo.css' %}"/>

<!--SITE URL SETTING FOR AJAX REQUESTS-->
	<style>
		div.cms .cms-toolbar-item-logo a:before {
			display: none;
		}
	</style>
	{% render_block "css" %}
</head>

<body class="home page page-template-page-reviews ajax-on">

{% cms_toolbar %}

<nav id="navigationTop" >
	{% static_placeholder "Logo" %}
	<ul id="topmenu" class="menu">
		{% show_menu 0 100 100 100 %}
	</ul>
</nav>
{% static_placeholder "LogoAndMenu" %}
{% static_placeholder "Banner" %}
{% block content %}{% endblock content %}
{% static_placeholder "Footer" %}
{% render_block "js" %}
</body>
</html>