<section class="section parallax section-parallax section-no-border custom-z-index m-none" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'porto/img/demos/one-page-agency/parallax/parallax-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="counters custom-counters">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-users text-color-secondary"></i>
                        <strong class="text-color-light" data-to="25000" data-append="+">0</strong>
                        <label>Thành viên</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-tv text-color-secondary"></i>
                        <strong class="text-color-light" data-to="200" data-append="+">0</strong>
                        <label>Thành công</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-support text-color-secondary"></i>
                        <strong class="text-color-light" data-to="3500" data-append="+">0</strong>
                        <label>Cuộc trò chuyện</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-clock-o text-color-secondary"></i>
                        <strong class="text-color-light" data-to="3000000000" data-append="+">0</strong>
                        <label>Giờ chia sẻ</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
