<section id="what-we-do" class="section section-no-border background-color-light m-none pb-none">
					<div class="container custom-pos-rel">
						<svg id="curved-line-2" class="hidden-xs hidden-sm" x="0px" y="0px" width="132px" height="225px" viewBox="0 0 132 225" enable-background="new 0 0 132 225" xml:space="preserve">
							<circle class="circle" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-dasharray="2,2" data-appear-animation="circle-anim" data-appear-animation-delay="1200" cx="120.888" cy="214.023" r="7.688"/>
							<circle class="circle-dashed" fill="none" stroke="white" stroke-miterlimit="10" stroke-dasharray="3,3" cx="120.888" cy="214.023" r="7.688"/>
							<path class="path" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-dasharray="2,2" data-appear-animation="line-anim-2" d="M113.812,209.406c0,0-193-54.125-72.5-206.125"/>
							<path class="path-dashed" fill="none" stroke="white" stroke-miterlimit="10" stroke-dasharray="3,3" d="M113.812,209.406c0,0-193-54.125-72.5-206.125"/>
						</svg>
						<div class="row center">
							<div class="col-md-12">
								<h2>What We Do</h2>
								<p class="custom-section-sub-title">OUR AMAZING SERVICES</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 match-height">
								<div class="feature-box feature-box-style-2 custom-feature-box-style-1">
	 								<div class="feature-box-icon">
	  									<i class="fa fa-object-group text-color-secondary"></i>
	  								</div>
	 								<div class="feature-box-info">
	  									<h4 class="mb-none">WEB DESIGN</h4>
	  									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorem et ut praesentium consectetur, voluptas commodi laboriosam modi suscipit?</p>
	  								</div>
	 							</div>
	 							<div class="feature-box feature-box-style-2 custom-feature-box-style-1">
	 								<div class="feature-box-icon">
	  									<i class="fa fa-mobile-phone text-color-secondary _size-1"></i>
	  								</div>
	 								<div class="feature-box-info">
	  									<h4 class="mb-none">MOBILE APPS</h4>
	  									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tenetur eligendi maxime quasi veritatis modi blanditiis quod doloribus saepe?</p>
	  								</div>
	 							</div>
	 							<div class="feature-box feature-box-style-2 custom-feature-box-style-1">
	 								<div class="feature-box-icon">
	  									<i class="fa fa-code text-color-secondary"></i>
	  								</div>
	 								<div class="feature-box-info">
	  									<h4 class="mb-none">WEB DEVELOPMENT + ECOMMERCE</h4>
	  									<p class="tall">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, nam harum eos sunt, aperiam incidunt ullam possimus earum non!</p>
	  								</div>
	 							</div>
	 							<a class="btn custom-btn-style-1 custom-margin-1 text-color-dark" href="#contact-us" data-hash>CONTACT US</a>
							</div>
							<div class="col-md-6 match-height">
								<img src="img/demos/one-page-agency/what-we-do/what-we-do-2.jpg" alt class="custom-image-style-2 _big" data-appear-animation="fadeIn" data-appear-animation-delay="1500" data-appear-animation-duration="100" />
								<img src="img/demos/one-page-agency/what-we-do/what-we-do-1.jpg" alt class="custom-image-style-2 _small" data-appear-animation="fadeInUp" data-appear-animation-delay="1900" data-appear-animation-duration="100" data-plugin-options="{'accY': 100}" />
							</div>
						</div>
					</div>
				</section>