<section id="cases" class="section section-no-border background-color-tertiary m-none">
    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h2>Dịch vụ</h2>
                <p class="custom-section-sub-title">Đơn giản - chuyên nghiệp</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel show-nav-title custom-arrows-style-1" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 3}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">
                    <div class="center">
                        <article class="thumb-info custom-thumb-info-style-2">
                            <span class="thumb-info-wrapper m-none">
                                <a href="#" class="text-decoration-none" title="Porto Website">
                                    <img src="{% static 'porto/img/demos/one-page-agency/cases/case-1.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </span>
                            <span class="thumb-info-caption background-color-light center p-md">
                                <h4>
                                    <a href="#" class="text-decoration-none text-color-dark">
                                        PORTO WEBSITE
                                    </a>
                                </h4>
                                <p class="custom-thumb-info-category">WEBSITE</p>
                            </span>
                        </article>
                        <a href="#" class="btn custom-btn-style-1 text-color-dark mt-md">VIEW MORE</a>
                    </div>
                    <div class="center">
                        <article class="thumb-info custom-thumb-info-style-2">
                            <span class="thumb-info-wrapper m-none">
                                <a href="#" class="text-decoration-none" title="Porto Website">
                                    <img src="{% static 'porto/img/demos/one-page-agency/cases/case-2.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </span>
                            <span class="thumb-info-caption background-color-light center p-md">
                                <h4>
                                    <a href="#" class="text-decoration-none text-color-dark">
                                        PORTO APP
                                    </a>
                                </h4>
                                <p class="custom-thumb-info-category">MOBILE APP</p>
                            </span>
                        </article>
                        <a href="#" class="btn custom-btn-style-1 text-color-dark mt-md">VIEW MORE</a>
                    </div>
                    <div class="center">
                        <article class="thumb-info custom-thumb-info-style-2">
                            <span class="thumb-info-wrapper m-none">
                                <a href="#" class="text-decoration-none" title="Porto Website">
                                    <img src="{% static 'porto/img/demos/one-page-agency/cases/case-3.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </span>
                            <span class="thumb-info-caption background-color-light center p-md">
                                <h4>
                                    <a href="#" class="text-decoration-none text-color-dark">
                                        PORTO BRAND
                                    </a>
                                </h4>
                                <p class="custom-thumb-info-category">BRAND</p>
                            </span>
                        </article>
                        <a href="#" class="btn custom-btn-style-1 text-color-dark mt-md">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>