
.cb-adv-search, .cb-search{
	margin-bottom:10px;
}

.popover{
	max-width:40%;
}
.container{
	width: 1200px;
}
.row{
	margin-bottom:10px;
}

.row label{
	color: #666;
}

.current {
	color: #9c6500
}

.near {
	color: #fe8802
}

.past {
	color: #006100
}

.current_booking {
	background-color: #ffc7ce;
	color: #9c6500
}

.near_booking {
	background-color: #ffeb9c;
	color: #9c6500
}

.past_booking {
	background-color: #c6efce;
	color: #006100
}

.pending {
	background-color: #ffc7ce;
	color: #9c6500
}

.deposited {
	background-color: #ffeb9c;
	color: #9c6500
}

.fully_paid {
	background-color: #c6efce;
	color: #006100
}

.cancelled {
	background-color: #ffc7ce;
	color: #9c6500
}

.close_win {
	background-color: #c6efce;
	color: #006100
}

.close_lost {
	background-color: #ffc7ce;
	color: #9c6500
}

.r_new {
	color: black
}

.blocked {
	color: #fe8802
}

.reserved {
	color: #006100
}

.r_cancelled {
	color: #9c6500
}

.actual_selling,.actual_profit {
	color: #006100
}


/**
 * Booking-table
 */

.booking-table{
	border:1px solid #c8c8c8;
	margin-top:20px;
	font-size:12px;
}
.booking-table table{
	width:100%;
	border-spacing:0;
	max-width:100%;
}
.booking-table td{
	padding:5px;
	border-color:#c8c8c8;
	vertical-align:top;
	border:1px solid #c8c8c8;
}
.booking-table > table > thead > tr > td{
	background-color: #f4f4f4;
	padding: 5px 15px;
	font-weight:bold;
	border-top:0;
}

.booking-table> table > thead > tr > td:first-child,
.booking-table > table > tbody > tr > td:first-child{
	text-align: left;
	border-left:0;
}

.booking-table > table > thead > tr > td:last-child,
.booking-table > table > tbody > tr > td:last-child{
	border-right:0;
}

.booking-table > table > tbody > tr:last-child > td{
	border-bottom:0;
}

.ticket-warning, .ticket-warning td{
	background-color:#ffc7ce !important;
}