/* ==========================================================================
   Main UI
   ========================================================================== */
/* Header */
header {margin-bottom: 20px}

/* --- Body --- */
body {
    color: #444;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}
.container {
    width: 100%;
}

.btn {
	border-radius: 0 !important;
}
.form-control { border-radius: 0 }

.btn-primary {
	background-color: #428bca;
	border: 0
}

.glyphicon-remove, .fa-times { color: #e74c3c }

.well, .panel { box-shadow: none; border-radius: 0 !important; }
/* --- End --- */

.bpv-header {
	padding: 10px 0;
	background-color: #FFFFFF;
	margin-bottom: 0;
	overflow: hidden;
}

.bpv-header .user-info {
	font-size: 12px;
	text-align: right;
}

.bpv-header .hotel-info {
	float: left;
}

.bpv-header .hotel-info h3 {
	padding: 4px 0 0 60px;
	margin: 0;
}

.bpv-header .hotel-info a {font-size: 13px; padding-left: 10px;}

.bpv-header .user-info a {
	border-right: 1px solid #CCCCCC;
	padding: 0 6px
}

.bpv-header .user-info .sign-out {border: 0}
.bpv-header .brand {font-size: 18px}

#footerPanel {
	width: 100%;
	clear: both;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #FFFFFF);
    border-collapse: collapse;
    border-top: 1px solid #CCCCCC;
    color: #999;
    font-size: 13px;
    margin-top:60px;
}

.footer-links {
    padding: 15px;
}
.footer-links ._bpts {padding: 0 10px}
.footer-links ._bpts a {
	border-left: 1px solid #ccc;
	padding: 0 5px 0 10px
}

/* Navigation */
.bpv-nav {
    background-color: #3276b1;
    border-color: #3276b1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    min-height: 30px;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
    z-index: 100
}
.bpv-nav .navbar-collapse {
    border-color: #205081;
}
.bpv-nav .navbar-nav > li > a {
    color: #FFFFFF;
    padding: 10px;
    outline-width: 0;
}
.bpv-nav .navbar-nav > li > a:hover {
    background-color: #428bca;
    color: #fff;
}
.bpv-nav .navbar-nav > .active > a, .bpv-nav .navbar-nav > .active > a:hover {
    background-color: #428bca;
    color: #fff;
}
.bpv-nav .navbar-toggle {
    border-color: #428bca;
}
.bpv-nav .navbar-toggle:hover {
    background-color: #428bca;
    border-color: #428bca;
}
.bpv-nav .navbar-brand{
	color: #FFF;
	font-weight:bold;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bpv-sidebar.affix {
  position: relative;
}

/* First level of nav */
.bpv-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #EFF0F2;
  border-radius: 5px;
}

/* All levels of nav */
.bpv-sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 5px 20px;
  border-left: 3px solid #EFF0F2;
}
.bpv-sidebar .nav > li > a > span {
	float: right;
}
.bpv-sidebar .nav > li > a:hover,
.bpv-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #FEFEFE;
  color: #205081;
  border-left: 3px solid #205081;
}
.bpv-sidebar .nav > .active > a,
.bpv-sidebar .nav > .active:hover > a,
.bpv-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: #FAFAFA;
  color: #205081;
  border-left: 3px solid #205081;
}

/* Nav: second level (shown on .active) */
.bpv-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bpv-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bpv-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bpv-sidebar.affix,
  .bpv-sidebar.affix-bottom {
    width: 213px;
  }
  .bpv-sidebar.affix-bottom {
    position: relative; /* Undo the static from mobile first approach */
  }
  .bpv-sidebar.affix-bottom .bpv-sidenav,
  .bpv-sidebar.affix .bpv-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bpv-sidebar.affix-bottom,
  .bpv-sidebar.affix {
    width: 263px;
  }
}


.page-header {
	border-bottom: 1px solid #EEEEEE;
    margin: 0 0 20px;
    padding-bottom: 0;
}
.page-header h3 {margin-top: 0}

.page-content {padding: 0}

.search-form {
	padding: 30px 20px;
	background-color:#EEE;
	border-radius:6px;
	margin-bottom:30px;
}

.errors {color: #A94442}
.error{color:red}
.bpt-message{
	margin-bottom:20px;
}

/* ==========================================================================
   Common UI
   ========================================================================== */
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.col-action a {
	margin: 0 2px 0 2px;
	text-decoration: none;
	vertical-align: middle;
}
.col-action { vertical-align: middle !important; }
.fa { font-size: 16px }
.fa-search, .fa-arrow-circle-right, .fa-refresh { font-size: 14px }

.v-middle {vertical-align: middle !important;}

.mg-left-10 {
	margin-left: 10px
}
.mg-bottom-20 {
	margin-bottom: 20px
}
.pd-left-0 {
	padding-left: 0
}

.hide {display: none;}

.ui-datepicker-trigger {position: absolute; right: -5px; top: 30px}

.hr { border-top: 1px solid #e5e5e5; padding-top: 20px }


/* ==========================================================================
   Hotel Photos
   ========================================================================== */

.sortable {
	margin: auto;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sortable.grid {
	overflow: hidden;
}

.sortable li {
	list-style: none;
	padding: 5px;
}

.sortable.grid li {
	width: 23%;
	float: left;
	margin: 0 2% 2% 0;
	border: 1px solid #ddd;
	height: 280px
}

li.sortable-placeholder {
	border: 1px dashed #CCC !important;
	background: none;
}

.thumb {
	padding: 5px;
	position: relative;
}

.bp-error {
	background-color: #FCF8F2;
    border-left: 3px solid #DD4B39;
    padding: 10px
}
.input-error {border-color: #DD4B39 !important}

.thumb .thumbnail {
	border: 0;
	padding: 0;
	margin-bottom: 10px
}
.thumb .form-group{
	margin-bottom: 10px
}
.h-photo {
	cursor: move;
	max-width: 172px;
	max-height: 129px;
}

.box_btn_delete, .box_btn_up, .box_btn_down {
    background-color: #c0392b;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding: 0 8px 4px;
    position: absolute;
    text-align: center;
    right: 5px;
    top: 5px;
    z-index: 300;
}

.box_btn_delete:hover {
	background-color: #e74c3c;
	text-decoration: none;
	color: #fff
}

.box_btn_up, .box_btn_down {
	top: 0;
	background-color: #fff;
	color: #428BCA;
	font-size: 12px;
	right: 0
}

.box_btn_down {
	left: 0;
	right: auto;
}

.delete_photo_btn{
	position:absolute;right:4px;background-color:red;color:#fff;padding:3px 4px;
}

.link-roomtype {
	margin: 8px 0 0;
}

.crop-photo { width: 100% }
.crop-photo-dialog { width: 700px }

/* ==========================================================================
   Overide Bootstrap CSS
   ========================================================================== */
.pagination{
	margin-top:0 !important;
}

.paging-txt{
	margin-right:10px;
	margin-top:8px;
}

.avaiable {
	background-color: #27ae60;
	color: #fff;
	padding: 4px 8px
}
.avaiable:hover {color: #fff !important;}

.not-avaiable {
	background-color: #E8E8E8;
	color: #666;
	padding: 4px 8px
}

.note {color: #666; font-size: 90%}

/* ==========================================================================
   Hotel
   ========================================================================== */
#hotel_map,#destination_map {
	width: auto;
	height: 400px;
	border: 1px solid #ccc
}

#filter_all a, #filter_avb a {
	padding-left: 10px
}
#filter_all.selected,#filter_avb.selected {
	font-weight: bold;
}
#filter_all.selected a,#filter_avb.selected a{
	color: #333; text-decoration: none;
}
.room-settings-control {width: auto; float: none; margin: 0 auto}
input.room-settings-control {width: 80px}

/* ==========================================================================
   Ajax
   ========================================================================== */
.item-disable {
	opacity: 0.3;
	position: relative;
}

.item-label {
	text-decoration: none !important;
}

.item-mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: #333;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
}



/*
 * Typehead Autocomplete
 *
 */

.twitter-typeahead{
	width:100%;
}

.typeahead,
.tt-query,
.tt-hint {
  /*width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;*/
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 550px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*--- Typeadhed ---*/
.typeahead, .tt-query, .tt-hint { outline: none }
.typeahead:focus { border: 2px solid #0097cf }
.typeahead { background-color: #fff }
.twitter-typeahead { width: 100% }
.tt-query { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.tt-hint { color: #999 }
.tt-dropdown-menu { margin-top: 0; padding: 4px 0; background-color: #fff; border: 2px solid #0066CC; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2); box-shadow: 0 5px 10px rgba(0, 0, 0, .2); color: #333; }
.tt-dropdown-menu .lb-header { padding: 5px 20px; width: 100%; background-color: #eee; font-style: italic; clear: both; float: left; }
.tt-suggestion { padding: 3px 20px; font-size: 14px; line-height: 24px; }
.tt-suggestion p { margin: 0 }
.tt-suggestion.tt-cursor { color: #fff; background-color: #3385D6; }


/*--- Popover ---*/
.popover { max-width:800px; line-height: normal; padding: 0; border-color: #0071CD; border-width: 1px 1px; background-color: #fff;  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); border-radius: 0  }
.popover .btn-support-close { cursor:pointer; position:absolute; right: 10px; top: 8px }
.popover .popover-title { background-color: #0071CD; border: 0; padding: 10px; margin: 0; color: #fff; border-radius:0; font-weight: normal; font-size: 16px; }
.popover-content { min-width: 300px; min-height: 120px }
.popover.top > .arrow { border-top-color: #0071CD; }

.popover.bottom > .arrow { border-bottom-color: #0071CD; }

.popover.left > .arrow { border-left-color: #0071CD; }

.popover.right > .arrow { border-right-color: #0071CD; }

/*--- Tooltip ---*/
.tooltip.bottom .tooltip-arrow {
	left: 25%;
	margin-left: -6px;
	border-width: 0 6px 6px;
	margin-top: -2px;
	border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #ccc
}
.tooltip .gb_6, .tooltip .gb_7 {
    display: block;
}

.gb_6 {
    border-color: transparent transparent #FFF;
    border-style: dashed dashed solid;
    border-width: 0px 8px 8px;
    display: none;
    position: absolute;
    left: 25%;
    top: -2px;
    z-index: 1;
    height: 0px;
    width: 0px;
    animation: 0.2s ease 0s normal none 1 gb__a;
}
.gb_7 {
    border-color: transparent transparent rgba(0, 0, 0, 0.2);
    border-style: dashed dashed solid;
    display: none;
    position: absolute;
    left: 25%;
    z-index: 1;
    height: 0px;
    width: 0px;
    animation: 0.2s ease 0s normal none 1 gb__a;
    top: -3px;
    border-width: 0px 8px 8px;
}

.tooltip-inner {
	background-color: #fff;
	padding: 10px;
	margin-top: -1px;
	border-radius: 2px;
	color: #404040;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*--- BPV Modal ---*/
.modal-header { background-color: #F6F6F6; color: #0071CD; padding: 5px 15px }
.modal-content { border-radius: 0 }
.modal-dialog .close { opacity: 1; margin-top: 0 }
.modal-footer { border: 0; margin-top: 0; padding:10px 15px; border-top: 1px solid #eee }
.modal .glyphicon-remove { font-size: 14px }

#viewModal .modal-dialog { width: 800px }

/* ==========================================================================
   Tour Photos
   ========================================================================== */
.tour-modal-dialog { width: 800px }
.itinerary-photo { list-style: none; display: block; overflow: hidden; margin: 0; padding: 0 }
.itinerary-photo li { float: left; margin: 0 2% 2% 0; width: 23%;}
.itinerary-photo .title { width: 100%; border: 0; height: 30px; font-weight: bold; font-size: 16px; color: #007aff; margin-bottom: 0 }
.itinerary-photo .i-thumb { height: 130px; border: 0; text-align: center; position: relative}
.itinerary-photo .h-photo { cursor: pointer }
.itinerary-photo .check-box {
	background-color: #FFFFFF;
	border: 2px solid #2ECC71;
	border-radius: 50%;
	color: #2ECC71;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px !important;
	padding-top: 1px
}
   